.nav-list {
   align-self: center;
   justify-self: center;
   font-weight: 500;
   font-size: 18px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 65px;
}
.nav-list__item {
}
.nav-list__link {
   position: relative;
&::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0%;
   height: 1px;
   background-color: #ffff;
   transition: 0.1s;
   transform: scaleX(0);
}
&:hover::before{
   width: 100%;
   transition: 0.1s;
   transform: scaleX(1);
}
}