.products {
   padding: 50px 0;

}
.products__title {
   text-align: center;
   margin-bottom: 32px;
   font-size: 42px;
   font-weight: 700;
}
.products__tabs {
   text-align: center;
   margin-bottom: 80px;
}
.products__slider {
   margin-bottom: 60px;
}
.products__link {
   text-align: center;
}
