:root {
   --text-color: #1E1E1E;
   --text-muted: #8d8d8d;
   --text-card-dark-blue: #0D1B39;
   --accent: #E58411;

   --header-text-color: #ffff;
   --footer-accent: #f6973F;
   --footer-bg: #2d2f33;

   --ui-orange: #E58411;
   --ui-biruza: #00D6C9;
   --ui-gray: #7c7c7c;
   --ui-dakr-blue: #0D1B39;



   --font-main: 'Gilroy', sans-serif;
   --font-cards: 'Inter', sans-serif;
   --font-footer: 'DM Sans', sans-serif;
}